*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: montserrat;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body{
  padding: 0px;
  margin: 0px;
  background-color: #85FFBD;
  background-image: radial-gradient(farthest-corner at 79% -108%, #FBF7D5 3%, #E6F6D6 31%, #54ECDC 100%);
}

.zdog-canvas {
  cursor: move;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 30px;
  margin-top: 120px;
}

.Sobble{
  text-align: center;
  font-size: 260px;
  color: #FFF4D1;
  margin-top: 50px;
}

.Instruction{
  align-items: center;
  justify-content: center;
  color: #798086;
  text-align: center;
  margin-top: 150px;
}

.Zdog{
  align-items: center;
  justify-content: center;
  color: #798086;
  text-align: center;
  margin-top: 15px;
  font-size: 9px;
}
